.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  margin: 67px 0 60px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    margin: 48px auto 36px;
    width: 88.125%;
  }   
}